<ul>
    <li><a href="#"><img src="images/organic-and-chemical-free.jpg" width="300" height="90" alt=""></a></li>
    <li><a href="#"><img src="images/good-food.jpg" width="300" height="90" alt=""></a></li>
    <li class="last"><a href="#"><img src="images/pet-grooming.jpg" width="300" height="90" alt=""></a></li>
</ul>
