<!DOCTYPE html>
<html>
<head>
<title>پت شاپ
		
</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
<meta charset="iso-8859-1">

    <link href="~/css/style.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/NewStyle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
</head>
<body>
<div id="header"> <a href="#" id="logo"><img src="~/images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
            <li class="active"><a asp-action="Index" asp-controller="Home">صفحه اول</a></li>
    <li><a href="petmart.html">مارکت</a></li>
    <li><a href="blog.html">اخبار</a></li>
    <li><a href="petguide.html">درباره حیوانات</a></li>
    <li><a href="contact.html">تماس با ما</a></li>
    <li><a href="about.html">درباره ما</a></li>
  </ul>
</div>
<div id="body">
  <div class="banner">&nbsp;</div>
  <div id="content">
      @RenderBody()
    <div id="sidebar">
        <vc:category-side-box></vc:category-side-box>
        <vc:basket-summary></vc:basket-summary>
  
                
    </div>
  </div>
  <div class="featured">
            <partial name="_Featured" />
  </div>
</div>
<div id="footer">
        <partial name="_Footer" />

</div>
</body>
</html>
