@using Petshop.Endpoint.Models.Categories
@model CategorySideBoxViewModel

@if (Model.currentCategory == null)
{
	<a class="btn btn-block btn-info"  asp-action="Index" 
   asp-controller="Home" asp-route-category="" asp-route-pageNumber="1">Home</a>

	
}
else{
	<a class="btn btn-block btn-warning" asp-action="Index"
   asp-controller="Home" asp-route-category="" asp-route-pageNumber="1">Home</a>
}

@foreach(var item in Model.categories){
	@if(Model.currentCategory == item.Name){
		<a class="btn btn-block btn-info"
   asp-action="Index"
   asp-controller="Home" asp-route-category="@item.Name" asp-route-pageNumber="1">@item.Name</a>
		
	}
	else{
		<a class="btn btn-block btn-warning"
   asp-action="Index" 
	asp-controller="Home" asp-route-category="@item.Name" asp-route-pageNumber="1">@item.Name</a>

	
	}
	
} 