@model CheckoutViewModel
<div class="content">
	<h2>
	پرداخت
</h2>
<p>لطفا اطلاعات خود را وارد کنید</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
	<h3>ship to</h3>
	<div class="form-group">
		<lable>نام و نام خانوادگی:</lable>
		<input asp-for="FullName"class="form-control"/>
	</div>
	<div class="form-group">
		<lable>کشور:</lable>
		<input asp-for="Country"class="form-control"/>
	</div><div class="form-group">
		<lable>شهر:</lable>
		<input asp-for="City"class="form-control"/>
	</div><div class="form-group">
		<lable>آدرس:</lable>
		<input asp-for="Address"class="form-control"/>
	</div><div class="form-group">
		<lable>آدرس:</lable>
		<input asp-for="Address2"class="form-control"/>
	</div><div class="form-group">
		<lable>کد پستی:</lable>
		<input asp-for="Zip"class="form-control"/>
	</div>
		<h3>درخواست عدم ارسال فاکتور</h3>
	<div class="checkbox">
		<lable>هدیه
		<input asp-for="GiftWrap"/>

		</lable>
	</div>
	<div class="text-center">
		<lable>نام و نام خانوادگی:</lable>
		<input type="submit" class="btn btn-info"  value="اتمام خرید"/>
	</div>

</form>
</div>