@model Petshop.Core.Payments.VarifyPaymentResult

<div class="content">
	<h3>@Model.Message</h3>
	<h4>شماره فاکتور</h4>
	<h3>@Model.FactorNumber</h3>
	<h4>شماره پیگیری</h4>
	<h3>@Model.TransId</h3>

	<h4>شماره کارت</h4>
	<h3>@Model.CardNumber</h3>
</div>