@model PagedData<Product>
<div class="content">
    <div class="row">

    <ul>
        @foreach (var item in Model.Data)
        {

                @Html.Partial("PartialIndexsummery",item);
        }.
      
    </ul>
    </div>
    
    <div class="btn-group" page-model="@Model.PageInfo" page-action="Index" 
    page-classes-enable="true" page-class="btn "
    page-class-normal="btn-outline-dark" page-class-selected="btn-success">

    </div>
</div>
