.btnAdd
{
    background-color:#cfd721;
    
}
.frmcheckout {
    text-align: right;
    background-color: bisque;
}
#body div#content {
margin-top:10%;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn-group:not(:last-child) > .btn{
    border-radius:0 !important;
}